@import 'vars.scss';

:host {
  display: block;
  width: 100%;

  button {
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: left;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: $bg-color;
    color: $primary;

    span {
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      margin-left: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 80%;
    }

    &.selected {
      background-color: $primary;
      color: $bg-color;
    }
  }
}
